<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Twix.Properties.Settings.twixConnectionString" connectionString="Data Source=cfcfq5jupw.database.windows.net,1433;Initial Catalog=twix;Persist Security Info=True;User ID=twixadmin;Password=qazTHRD1250"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>