<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Simple.Data.Ado" version="2.0.0-alpha1" targetFramework="net452" />
  <package id="Simple.Data.Core" version="2.0.0-alpha1" targetFramework="net452" />
  <package id="Simple.Data.Sample" version="0.5.1" targetFramework="net452" />
  <package id="Simple.Data.SqlServer" version="2.0.0-alpha1" targetFramework="net452" />
</packages>